FLYWAY_URL=jdbc:postgresql://localhost:5432/pato
FLYWAY_USER=flyway_migrator
FLYWAY_PASSWORD=changeme
FLYWAY_LOCATIONS=filesystem:sql
DB_URL=jdbc:postgresql://localhost:5432/pato
DB_USER=kiwi_app
DB_PASSWORD=changeme
JWT_ISS=dev.rafex.kiwi
JWT_AUD=kiwi-backend
JWT_SECRET=CHANGE_ME_NOW_32+chars_secret
JWT_TTL_SECONDS='3600'

KIWI_USER='rafex'
KIWI_PASS='secret'