# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

.env
*.bin


### macOS ###
.DS_Store
.AppleDouble
.LSOverride
._*

# Thumbnails
._.DS_Store
._.Spotlight-V100
._.Trashes

# Files that might appear in root
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent