/target/
# Asegurar que los recursos fuente se rastreen y empaqueten
!/src/main/resources/**
!/resources/**
!**/resources/META-INF/native-image/**
!**/META-INF/native-image/**
!reachability-metadata.json