name: Java Build (Makefile)

on:
  push:
    branches: [ "main", "develop" ]
    paths:
      - 'backend/java/kiwi-backend/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'backend/java/kiwi-backend/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: maven

      - name: Make build (Java backend)
        run: make build
